.link-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
a {
    display: inline-block;
    background: gray;
    padding: 20px;
    border-radius: 30px;
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    transition: all 0.1s linear;
}

a:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px #505050;
    transition: all 0.1s linear;
}