body {
    background-color: white;
}
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 15%;
    padding: 15px;
}

#cursor-ring {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transition: scale 100ms;
    z-index: 1024;
    mix-blend-mode: difference;
}

#cursor-ring.active {
    scale: 0.75;
}